@tailwind base;
@tailwind components;
@tailwind utilities;


/* typewriter css  */
span.Typewriter__wrapper {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

span.Typewriter__cursor {
    font-size: 20px;
    font-weight: 600;
}

/* progress bar css  */

element.style {
    height: 12px;
}

.bg-img {
    background-image: url(../src/assets/images/summer-camp-school-988b3.web.app_.png);
    background-position: top;
    width: 100%;
    background-size: cover;
    transition: ease-in-out 3s;
}

.bg-img:hover {
    background-position: bottom;
}

/* button style css  */

*,
::before,
::after {
    box-sizing: unset;
}

/* using media for navhero typescript text  */

@media (min-width: 768px) {
    span.Typewriter__wrapper {
        font-size: 40px;
        font-weight: 700;
        color: #000;
    }

    span.Typewriter__cursor {
        font-size: 40px;
        font-weight: 600;
    }
}

/*======= header css ======= */

.sticky_header {
    width: 100%;
    line-height: 80px;
    z-index: 99999;
    box-shadow: 3px 3px -8px 3px #ddd;
    background-color: #ddd;
}